<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <!-- video for movie -->

    <div class="video_container" v-show="showVideo">
        <div class="heading_video">
          <h2 class="movtit">{{ selectedMovie.title }}</h2>
            <ion-icon name="close-circle-outline" @click="closeVideo"></ion-icon>
      </div>
      
      <div class="main_video">
        <div class="video">
          <video :src="'video/trailor1.mp4'" width="600" height="300" muted controls></video>
        </div>
      </div>

    <div class="video_info">
                <p class="mainb"><h2 class="p1">Year:</h2> {{ selectedMovie.description }}</p>
                <p class="mainb"><h2 class="p1">Runtime:</h2> {{ selectedMovie.runtimeStr }}</h2>
              <p class="mainb"><h2 class="p1">Genre:</h2>{{ selectedMovie.genres }}</p>
              <p class="mainb"><h2 class="p1">Plot:</h2>{{ selectedMovie.plot }}</p>
              <p class="mainb"><h2 class="p1">Stars:</h2> {{ selectedMovie.stars }}</p>
              <p class="mainb"><h2 class="p1">Rating:</h2> {{ selectedMovie.imDbRating }}</p>
      </p>
    </div>
</div>
</section>









  <!-- open the video when the user clicks on the image -->

  <div class="video_container" v-show="showVideo">
    <div class="heading_video">
        <h2 class="movtit">{{ selectedTvshow.title }}</h2>
      <ion-icon name="close-circle-outline" @click="closeVideo"></ion-icon>
    </div>
    <div class="main_video">
        <div class="video">
            <video :src="'video/trailor1.mp4'" width="600" height="300" muted controls></video>
        </div>
    </div>


    <div class="video_info">
        <p class="mainb"><h2 class="p1">Year:</h2> {{ selectedTvshow.description }}</p>
        <p class="mainb"><h2 class="p1">Runtime:</h2> {{ selectedTvshow.runtimeStr }}</p>
        <p class="mainb"><h2 class="p1">Genre:</h2>{{ selectedTvshow.genres }}</p>
        <p class="mainb"><h2 class="p1">Plot:</h2>{{ selectedTvshow.plot }}</p>
        <p class="mainb"><h2 class="p1">Stars:</h2> {{ selectedTvshow.stars }}</p>
        <p class="mainb"><h2 class="p1">Rating:</h2> {{ selectedTvshow.imDbRating }}</p>
    </div>
</div>
</section>






















</body>
</html>